@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 900px;
  margin: 0 auto;
  background-color: #eae6e2;
  color: #444e54;
}

hr {
  max-width: 800px;
  margin: 48px;
  border: 1px solid #686d80;
}